### 1º Conectar MySQL ao Python

In [1]:
import mysql.connector

harrypotter = mysql.connector.connect(host = 'localhost',user='root',passwd='password do teu root')

#verificar se a conecção foi bem sucedida:

if (harrypotter):
    print('Conexão bem sucedida')
else:
    print('Conexão falhada')

Conexão bem sucedida

### 2º Verificar se as base de dados estão bem conectadas

In [2]:
mycursor = harrypotter.cursor() #para comunicar atraves de MySQL
mycursor.execute('Show databases') #para verificar se está bem conectado
for db in mycursor:
    print(db) #print a cada uma das bases de dados

('bd',)
('final',)
('harrypotter',)
('harrypotterr',)
('information_schema',)
('mainstream',)
('mydb',)
('mysql',)
('mystream',)
('performance_schema',)

### 3º Usar a base de dados e queries

Neste caso, a nossa base de dados final já foi criada e corresponde à base de dados 'harrypotter', como indicada no output do passo 2, assim vai ser a que queremos usar e iremos verificar se as tabelas estão todas.

In [3]:
mycursor.execute('Use harrypotter')
mycursor.execute('Show tables')
for table in mycursor:
    print(table)

('aluno',)
('cargo',)
('competição',)
('escola',)
('feitiço',)
('nome_do_feitiço',)
('participação',)
('professor',)
('tipo_de_material',)
('torneio',)
('usa_feitiço',)
('varinha',)

In [4]:
mycursor.execute('Select * from aluno order by nome')
myresult = mycursor.fetchall() #fetchall devolve todas as linhas
for row in myresult:
    print(row)

(23652345, 'Barty Crouch', datetime.date(1982, 10, 8), 234, 26, 'Muggle', None, 'Durmstrang', 'Gato', 21078)
(12345679, 'Cedric Diggory', datetime.date(1979, 10, 1), 123, 13, 'Wizard', 'M', 'Gryffindor', 'Coruja', 12346)
(31234443, 'Fleur Delacour', datetime.date(1978, 12, 13), 567, 43, 'Muggle', 'F', 'Beauxbatons', 'Peixe', 31234)
(12345678, 'Harry Potter', datetime.date(1980, 1, 3), 123, 13, 'Muggle', 'M', 'Gryffindor', 'Coruja', 12345)
(12345674, 'Hermione Granger', datetime.date(1980, 6, 9), 123, 13, 'Muggle', 'F', 'Gryffindor', None, 12349)
(31234423, 'Perenelle Flamel', datetime.date(1982, 7, 9), 567, 43, 'Wizard', 'F', 'Beauxbatons', 'Peixe', 32134)
(12345673, 'Ron Weasly', datetime.date(1980, 2, 4), 123, 13, 'Wizard', 'M', 'Gryffindor', 'Rato', 12348)
(23456716, 'Viktor Klum', datetime.date(1979, 3, 21), 234, 26, 'Wizard', 'M', 'Durmstrang', 'Peixe', 21036)

In [5]:
mycursor.execute('Select * from feitiço')
myresult = mycursor.fetchall()
for row in myresult:
    print(row)

(1, 'Feitiço', 'Fácil')
(2, 'Feitiço', 'Fácil')
(3, 'Poção', 'Dificil')
(4, 'Poção', 'Médio')
(5, 'Poção', 'Médio')
(6, 'Feitiço', 'Dificil')
(7, 'Poção', 'Fácil')
(8, 'Feitiço', 'Dificil')
(9, 'Poção', 'Fácil')

In [6]:
mycursor.execute('Select Código from varinha') #devolve o primeiro código
myresult = mycursor.fetchone()
for row in myresult:
    print(row)

12345

### Atualizar a database com python

In [7]:
harrypotter = mysql.connector.connect(host = 'localhost',user='root',passwd='j7mzutwU_cris')
mycursor = harrypotter.cursor()
mycursor.execute('Use harrypotter')
mycursor.execute("UPDATE ALUNO SET AnimalEstimação = 'Cão' WHERE Nome LIKE 'H%'")
harrypotter.commit()
mycursor.execute('Select * from aluno order by nome,animalestimação')
myresult = mycursor.fetchall() #fetchall devolve todas as linhas
for row in myresult:
    print(row)

(23652345, 'Barty Crouch', datetime.date(1982, 10, 8), 234, 26, 'Muggle', None, 'Durmstrang', 'Gato', 21078)
(12345679, 'Cedric Diggory', datetime.date(1979, 10, 1), 123, 13, 'Wizard', 'M', 'Gryffindor', 'Coruja', 12346)
(31234443, 'Fleur Delacour', datetime.date(1978, 12, 13), 567, 43, 'Muggle', 'F', 'Beauxbatons', 'Peixe', 31234)
(12345678, 'Harry Potter', datetime.date(1980, 1, 3), 123, 13, 'Muggle', 'M', 'Gryffindor', 'Cão', 12345)
(12345674, 'Hermione Granger', datetime.date(1980, 6, 9), 123, 13, 'Muggle', 'F', 'Gryffindor', 'Cão', 12349)
(31234423, 'Perenelle Flamel', datetime.date(1982, 7, 9), 567, 43, 'Wizard', 'F', 'Beauxbatons', 'Peixe', 32134)
(12345673, 'Ron Weasly', datetime.date(1980, 2, 4), 123, 13, 'Wizard', 'M', 'Gryffindor', 'Rato', 12348)
(23456716, 'Viktor Klum', datetime.date(1979, 3, 21), 234, 26, 'Wizard', 'M', 'Durmstrang', 'Peixe', 21036)

In [8]:
#contagem de quantos professores ha em cada escola
mycursor.execute('Select ESCOLA.Nome, COUNT(PROFESSOR.Escola) from ESCOLA,PROFESSOR WHERE PROFESSOR.Escola = ESCOLA.Nome group by ESCOLA.nome order by ESCOLA.nome')
myresult = mycursor.fetchall()
l = [] #guardar os tuplos numa lista
for row in myresult:
    l.append(row)
    
for i in l:
    print(list(i)) #passo de tuplo pra lista

['Beauxbatons', 2]
['Durmstrang', 2]
['Hogwarts', 2]